{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Envoyer Un Message</h1>
            {# offcanavas bootstrap le bouton qui a droite  #}
            {# Implimentation de offcanas #}
            {# l'appelle de la formulaire de messagerie  #}
            {{ form(form)}}
            <a class="btn btn-primary" data-bs-toggle="offcanvas"
               href="#offcanvasExample" role="button" aria-controls="offcanvasExample"> voir mes dossiers
            </a>
        </div>
    </div>
</section>
    {# Body de bouton offcanas #}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("app_messages") }}" class="list-group-item list-group-item-action active">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("app_messages") }}" class="list-group-item list-group-item-action">boite de reception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("app_messages") }}" class="list-group-item list-group-item-action ">element envoyees</a>
            </div>
        </div>
    </div>
{% endblock %}
